/*
    DEMO STYLE
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url("https://use.typekit.net/ith5dub.css");
body {
    font-family: 'Roboto', sans-serif;
    background: #F6F6F4;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7em;
    color: #44474A;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.brand {
    font-family: 'Turnip';
    color: #004AAD;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

img {
    display: column;
    width: 2rem;
    height: 2rem;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

.heading {
    text-transform: uppercase;
}

#sidebar {
    width: 280px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #FDFFFF;
    color: #060a0e;
    transition: all 0.3s;
    box-shadow: 0 1rem 1rem rgba(68, 71, 74, 0.24);
}

#sidebar.active {
    margin-left: -280px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #FDFFFF;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #060a0e;
    padding: 10px;
    border-bottom: 1px solid #2E71CB;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #2E71CB;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #2E71CB;
}

#homeSubmenu, #pageSubmenu {
    color:#FDFFFF;
}

#homeSubmenu a.active {
    color: #2E71CB;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    color: #060a0e;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 280px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}


#content.active {
    width: 100%;
}

#content h1 {
    font-family: 'Turnip Light';
    font-size: 3rem;
}

#content .turnip {
    font-family: 'Turnip Light';
    font-size: 5.5rem;
}

#content .roboto {
    font-family: 'Roboto';
    font-size: 2.5rem;
    font-weight: 500;
}

#content span h3 {
    font-size: 1.5rem;
    color: #44474A;
}

.h2 {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.h3 {
    font-size: 1.2rem;
}

.h4 {
    font-size: 1rem;
}

.card {
    background: #004AAD;
    padding: 2.5rem;
    color: #FDFFFF;
    margin-left: 1rem;
}

.card2 {
    background: #060a0e;
    padding: 2.5rem;
    color: #FDFFFF;
    margin-bottom: .5rem;
    margin-left: 1rem;
}

.card3 {
    background: #44474A;
    padding: 2rem;
    color: #FDFFFF; 
    margin-bottom: .5rem;
    margin-left: 1rem;
}

.card4 {
    background: #C1C2C3;
    padding: 2.5rem;
    color: #060a0e;
    margin-bottom: .5rem;
    margin-left: 1rem;
}

.card5 {
    background: #F6F6F4;
    padding: 2.5rem;
    color: #060a0e;
    margin-bottom: .5rem;
    border: 1px solid rgba(193, 194, 195);
    margin-left: 1rem;
}

.card6 {
    background: #FFFFFF;
    padding: 2.5rem;
    color: #060a0e;
    margin-bottom: .5rem;
    border: 1px solid rgba(193, 194, 195);
    margin-left: 1rem;
}

.card7 {
    background: #2E71CB;
    padding: 2.5rem;
    color: #fff;
    margin-bottom: .5rem;
    margin-left: 1rem;
}

.card8 {
    background: #CCF5AC;
    padding: 2.5rem;
    color: #060a0e;
    margin-bottom: .5rem;
    margin-left: 1rem;
}

.card9 {
    background: #89C2D9;
    padding: 2.5rem;
    color: #060a0e;
    margin-bottom: .5rem;
    margin-left: 1rem;
}

.card10 {
    background: #FFE69E;
    padding: 2.5rem;
    color: #060a0e;
    margin-bottom: .5rem;
    margin-left: 1rem;
}

.card11 {
    background: #F87575;
    padding: 2.5rem;
    color: #fff;
    margin-left: 1rem;
}

.card12 {
    background: #9932CC;
    padding: 2.5rem;
    color: #fff;
    margin-bottom: .5rem;
    margin-left: 1rem;
}

.card13 {
    background: #D2691E;
    padding: 2.5rem;
    color: #fff;
    margin-bottom: .5rem;
    margin-left: 1rem;
}

.card14 {
    background: #228B22;
    padding: 2.5rem;
    color: #fff;
    margin-bottom: .5rem;
    margin-left: 1rem;
}

.btn-info {
    background: transparent !important;
    color: #060a0e !important;
    border: none;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -350px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 350px);
    }
}